@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


*{
  font-family: Saira, sans-serif;
}

@theme{
@theme {
  --color-dark-100:#ffffff;
  --color-dark-200:#f9f9f9;
  --color-dark-300:#f0f0f0;
  --color-dark-400:#e5e5e5;
  --color-purple:#7C3AED;
  --color-pink:#EC4899;
  --color-blue:#3B82f6;
}
}


.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #8b5cf6;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4;
}

@keyframes typing {
  from { width: 0; }
  to   { width: 15ch; } /*Match the number of characters */
}

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50%      { border-color: #8b5cf6; }
}

